.label__title {
  padding-bottom: 0.5rem;
  border-bottom: 1px #000 solid;
  margin: 0.4rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.discount__value {
  width: 7rem;
  height: 7rem;
  border-radius: 3.5rem;
  font-size: 2.25rem;
  line-height: 5rem;
}

.prices__sale .price--current {
  font-size: 6rem;
}

.woocommerce-Price-currencySymbol {
  font-size: 0.5em;
}

.A6-body-wrapper {
  .label__title {
    font-size: 3.9rem;
  }

  .attribute__label {
    width: 33%;
  }

  .prices__sale .price--current {
    font-size: 3rem;
  }

  .discount__value {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 2.8rem;
    font-size: 1.8rem;
    line-height: 4rem;
  }
}

.A5-body-wrapper {
  .label__title {
    font-size: 3.8rem;
  }
}

.A4-body-wrapper {
  .label__title {
    font-size: 4.4rem;
  }
}

.A3-body-wrapper {
  .label__title {
    font-size: 3.8rem;
  }
}
