.label__title {
  padding-bottom: 0.5rem;
  border-bottom: 1px #000 solid;
  margin: 0.4rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.prices__sale .price--current {
  font-size: 6rem;
}

.woocommerce-Price-currencySymbol {
  font-size: 0.5em;
}

.A6-body-wrapper {
  .label__title {
    font-size: 3.9rem;
  }

  .attribute__label {
    width: 33%;
  }

  .prices__sale .price--current {
    font-size: 8rem;
  }

  .prices__sale .price--regular {
    font-size: 3rem;
  }

  .prices__sale .price__label {
    font-size: 1.5rem;
  }

  .attribute__label {
    padding-right: 2.5rem;
  }

  .footer {
    font-size: 1rem;
  }
}

.A5-body-wrapper {
  .label__title {
    font-size: 4rem;
  }

 .prices__sale .price--current {
    font-size: 8rem;
  }

  .prices__sale .price--regular {
    font-size: 3rem;
  }

  .prices__sale .price__label {
    font-size: 1.5rem;
  }

  .details {
    font-size: 1.3rem;
  }

  .attribute__label {
    padding-right: 3rem;
  }

  .qr-code__image {
    height: 8.5rem;
  }
  
  .footer {
    font-size: 1.1rem;
  }
}

.A4-body-wrapper {
 .label__title {
    font-size: 4.2rem;
  }

 .prices__sale .price--current {
    font-size: 8rem;
  }

  .prices__sale .price--regular {
    font-size: 3rem;
  }

  .prices__sale .price__label {
    font-size: 1.5rem;
  }

  .details {
    font-size: 1.3rem;
  }

  .attribute__label {
    padding-right: 2.5rem;
  }

  .qr-code__image {
    height: 8.5rem;
  }

  .footer {
    font-size: 0.93rem;
    &__additional-text {
      display: inline;
    }
  }
}

.A3-body-wrapper {
  .label__title {
    font-size: 4.2rem;
  }

 .prices__sale .price--current {
    font-size: 8rem;
  }

  .prices__sale .price--regular {
    font-size: 3rem;
  }

  .prices__sale .price__label {
    font-size: 1.5rem;
  }

  .details {
    font-size: 1.2rem;
  }

  .attribute__label {
    padding-right: 2.5rem;
  }

  .qr-code__image {
    height: 8.3rem;
  }

  .footer {
    font-size: 0.9rem;
    &__additional-text {
      display: inline;
    }
  }
}
