* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue LT Pro, Helvetica, Arial, sans-serif;
  line-height: 1;
}

h2 {
  font-size: 4rem;
}

th {
  text-align: left;
}

.label-logo img {
  width: 100%;
  height: auto;
}

.label__title {
  padding: 0;
  font-weight: 500;
}

.container {
  position: relative;
  margin: 0 1.5rem;
}

.product-name {
  margin: 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.price--current,
.price--current .price__currency {
  margin-top: -1.5rem;
  font-weight: bold;
}

.price--regular,
.price--regular .price__currency {
  margin-top: -1rem;
  font-weight: bold;
}

.prices {
  width: 100%;
}

.prices__sale {
  border-bottom: 1px #000 solid;

  .price--current {
    color: #d12d37;
    text-align: center;
    line-height: 1;
  }

  .price--regular {
    margin-bottom: 0.6rem;
    font-size: 2rem;
    text-align: right;
  }
}

.details {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.attributes {
  float: left;
  margin: 0;
}

.short-description {
  float: left;
  width: 75%;

  .attributes {
    float: none;
    & + p {
      padding-left: 0.2rem;
    }
  }
}

.attribute__label {
  width: 25%;
  padding-right: 1rem;
}

.qr-code {
  float: right;
  width: 15%;
  text-align: center;
}

.qr-code__help {
  margin-bottom: 0.1em;
}

.qr-code__image {
  display: inline-block;
  width: auto;
  height: 7.5rem;
  margin: 0 0 0 auto;
}

.footer {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
  padding: 0.25rem 0;
  border-top: 1px black solid;
  font-size: 0.87rem;
  text-align: center;
  clear: both;

  &__additional-text {
    display: none;
  }
}
