.label__title {
  font-size: 5.4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.prices {
  padding: 1rem 0;
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
}

.discount__value {
  width: 9rem;
  height: 9rem;
  border-radius: 4.5rem;
  font-size: 3.25rem;
  line-height: 7rem;
}

.prices__sale .price--current {
  font-size: 9rem;
}

.woocommerce-Price-currencySymbol {
  font-size: 0.5em;
}
