.label__title {
  border-bottom: 1px #000 solid;
  margin: 0.4rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.prices__sale .price--current {
  font-size: 6rem;
}

.woocommerce-Price-currencySymbol {
  font-size: 0.5em;
}

.A7-body-wrapper {
  .label__title {
    font-size: 3.7rem;
  }

  .attribute__label {
    width: 50%;
    padding-right: 3rem;
  }

  .prices__sale .price--current {
    font-size: 7rem;
  }

  .prices__sale .price--regular {
    font-size: 3rem;
  }

  .prices__sale .price__label {
    font-size: 1.5rem;
  }

  .details {
    font-size: 1.4rem;
  }

  .qr-code__image {
    height: 7rem;
  }

  .footer {
    font-size: 1.1rem;
  }
}

.A6-body-wrapper {
  .label__title {
    font-size: 3.9rem;
  }

  .attribute__label {
    width: 50%;
    padding-right: 2.5rem;
  }

  .prices__sale .price--current {
    font-size: 7.5rem;
  }

  .prices__sale .price--regular {
    font-size: 3rem;
  }

  .prices__sale .price__label {
    font-size: 1.5rem;
  }

  .details {
    font-size: 1.5rem;
  }

  .qr-code__image {
    height: 7.5rem;
  }

  .footer {
    right: 0.7rem;
    left: 0.7rem;
    font-size: 1rem;
  }
}

.A5-body-wrapper {
  .label__title {
    font-size: 4rem;
  }

  .prices__sale .price--current {
    font-size: 8rem;
  }

  .prices__sale .price--regular {
    font-size: 3rem;
  }

  .prices__sale .price__label {
    font-size: 1.5rem;
  }

  .details {
    font-size: 1.5rem;
  }

  .attribute__label {
    padding-right: 3rem;
  }

  .qr-code__image {
    height: 8.5rem;
  }

  .footer {
    right: 1rem;
    left: 1rem;
    font-size: 0.9rem;
    &__additional-text {
      display: inline;
    }
  }
}

.A4-body-wrapper {
  .label__title {
    font-size: 4.2rem;
  }

  .prices__sale .price--current {
    font-size: 8rem;
  }

  .prices__sale .price--regular {
    font-size: 3rem;
  }

  .prices__sale .price__label {
    font-size: 1.5rem;
  }

  .details {
    font-size: 1.5rem;
  }

  .attribute__label {
    padding-right: 2.5rem;
  }

  .qr-code__image {
    height: 8.5rem;
  }

  .footer {
    right: 1rem;
    left: 1rem;
    font-size: 0.95rem;
    &__additional-text {
      display: inline;
    }
  }
}

.title-exceeds-40-chars {
  &.A7-body-wrapper,
  &.A6-body-wrapper {
    .label__title {
      font-size: 3rem;
    }

    .prices__sale .price--current {
      font-size: 6rem;
    }
  }
  &.A5-body-wrapper,
  &.A4-body-wrapper {
    .label__title {
      font-size: 3.5rem;
    }

    .prices__sale .price--current {
      font-size: 7rem;
    }
  }
}
